@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
	--font-sans: 'Inter', 'Segoe UI Variable Static Display', sans-serif;

	--font-editor: 'Inter', 'Segoe UI Variable Static Display', var(--font-sans, sans-serif);

	--font-editor-code: 'JetBrains Mono', 'Consolas', var(--font-mono, ui-monospace);

	--list-indent: 1.5rem;

	--indent-level: 0;
}
