@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable-static-display');
@import 'katex/dist/katex.min.css';
@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
    --font-sans: 'Inter', 'Segoe UI Variable Static Display', sans-serif;

    --font-editor: 'Inter', 'Segoe UI Variable Static Display', var(--font-sans, sans-serif);
}

.cm-content {
    @apply font-editor;

    .cm-meta {
        @apply text-dimmed!;
    }

    .cm-heading {
        text-decoration: none !important;
    }

    .cm-mono {
        @apply font-mono bg-muted px-1 rounded;
    }

    .cm-hashtag {
        @apply bg-primary/20! ring ring-primary/70! px-1.5 text-sm rounded-4xl text-primary! inline-flex;

        .cm-heading {
            @apply text-primary!;
        }
    }

    .cm-highlighted {
        @apply bg-primary text-inverted px-0.5 rounded-sm;
    }

    .cm-link,
    .cm-internal-link-path,
    .cm-internal-link-subpath,
    .cm-internal-link-display {
        @apply text-primary;
    }

    .cm-clickable-link {
        @apply cursor-pointer;
    }

    .cm-unresolved-link {
        .cm-link,
        .cm-internal-link-path,
        .cm-internal-link-subpath,
        .cm-internal-link-display {
            @apply text-error/75! cursor-not-allowed;
        }
    }

    .cm-codeblock, .cm-line-codeblock-begin, .cm-line-codeblock-end {
        @apply font-mono py-0 my-0 text-sm! font-semibold border-x border-x-default mx-2 px-3 bg-muted relative;

        .cm-codeblock-flair-container {
            @apply absolute top-2 right-2 overflow-visible z-10;
            .cm-codeblock-copy-button {
                @apply rounded hover:bg-accented transition duration-200 cursor-pointer py-1.5 px-2 font-sans text-dimmed z-10;
            }
        }
    }

    .cm-line-codeblock-content {
        @apply border-x border-x-accented;
    }

    .cm-line-codeblock-begin {
        @apply rounded-t-lg border-t border-x border-t-accented border-x-accented pt-1 px-1;
    }

    .cm-line-codeblock-end {
        @apply rounded-b-lg border-b border-x border-b-accented border-x-accented pb-1 px-1;
    }

    .cm-tooltip {
        @apply rounded-lg bg-default/70 shadow-lg backdrop-blur-sm border border-default font-sans p-2;

        ul {
            @apply grid grid-cols-1 font-sans;

            li {
                @apply grid grid-cols-1 rounded font-sans gap-1;

                .cm-completionLabel {
                    @apply mx-1 mt-1 text-toned;
                }

                .cm-completionDetail {
                    @apply text-xs font-mono bg-elevated w-fit rounded text-muted px-1 mb-1;
                }
            }

            li[aria-selected='true'] {
                @apply bg-accented/70 backdrop-blur-sm border border-accented;
            }
        }
    }

    .cm-heading-1 {
        @apply text-4xl! text-highlighted scroll-mt-[calc(45px+var(--ui-header-height))];
    }

    .cm-heading-2 {
        @apply text-2xl! text-highlighted scroll-mt-[calc(45px+var(--ui-header-height))];
    }

    .cm-heading-3 {
        @apply text-xl! text-highlighted scroll-mt-[calc(45px+var(--ui-header-height))];
    }

    .cm-heading-4 {
        @apply text-lg! text-highlighted scroll-mt-[calc(45px+var(--ui-header-height))];
    }

    .cm-quoteblock, blockquote {
        @apply border-l-6 bg-muted border-accented ps-2 mx-2;

        &.cm-quoteblock-single {
            @apply rounded py-2;
        }

        &.cm-quoteblock-start {
            @apply rounded-t pt-2;
        }

        &.cm-quoteblock-end {
            @apply rounded-b pb-2;
        }

        .cm-formatting-quote.cm-meta {
            @apply invisible;
        }

        .cm-formatting-quote-active.cm-meta {
            @apply visible!;
        }
    }

    .cm-obsidian-hidden {
        @apply hidden;
    }

    .cm-hidden-latex {
        @apply hidden;
    }
}
